<div class="game-room">
    <app-create-user-modal
      *ngIf="showUserModal"
      (userCreated)="onUserCreated($event)"
      (close)="showUserModal = false">
    </app-create-user-modal>
  
    <app-game-header
      [roomName]="roomName"
      [userName]="currentUserName">
    </app-game-header>
  
    <app-game-table
      [players]="players">
    </app-game-table>
  
    <app-card-selector
      *ngIf="!isSpectator"
      [cards]="votingSystem"
      (cardSelected)="onCardSelected($event)">
    </app-card-selector>
  </div>