.card-selector {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.title {
  color: white;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.cards-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.cards-wrapper::-webkit-scrollbar {
  display: none;
}

.cards-container {
  display: flex;
  gap: 8px;
  padding: 10px 20px;
  width: max-content;
  min-width: 100%;
}

.card {
  width: 50px;
  height: 75px;
  border: 2px solid #BB65FF;
  border-radius: 8px;
  background: inherit;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
  flex-shrink: 0;
}

.card:hover {
  transform: translateY(-5px);
  background: #9d9da160;
  box-shadow: 0 4px 6px rgba(107, 70, 193, 0.2);
}

.card.selected {
  background: #E4A4FF;
  color: #330072;
  font-weight: 600;
  border: none;
  transform: translateY(-5px);
}

@media screen and (min-width: 768px) {
  .cards-wrapper {
    overflow: visible;
    max-width: 800px;
  }

  .cards-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}
