<div class="relative">
  <button
    (click)="isOpen = !isOpen"
    class="btn-icon"
    [class.active]="isOpen">
    <i class="fas fa-exchange-alt"></i>
  </button>

  <div *ngIf="isOpen"
       class="absolute right-0 top-full mt-2 bg-white shadow-lg rounded-lg p-2 z-50">
    <button
      *ngFor="let system of scoringSystems"
      (click)="onSystemSelect(system.value)"
      class="block w-full text-left px-4 py-2 hover:bg-purple-50 rounded">
      {{ system.label }}
    </button>
  </div>
</div>
