<div class="player-container">
  <div [ngClass]="{'player-card': !isSpectator, 'spectator-avatar': isSpectator, 'selected': hasSelectedCard}">
    <ng-container *ngIf="isSpectator">
      <div class="initials">{{ getInitials() }}</div>
    </ng-container>
    <ng-container *ngIf="!isSpectator">
      <div class="card-content">
        <span *ngIf="false">{{ selectedCard }}</span> <!-- Oculta el número -->
      </div>
    </ng-container>
  </div>
  <div class="player-name">{{ name }}</div>
</div>
