<div class="modal-overlay">
  <div class="modal-content">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <app-input-field label="Tu nombre" [control]="nameControl">
      </app-input-field>

      <div class="radio-group">
        <app-radio-button label="Jugador" value="player" id="player" [control]="viewModeControl">
        </app-radio-button>

        <app-radio-button label="Espectador" value="spectator" id="spectator" [control]="viewModeControl">
        </app-radio-button>
      </div>

      <app-button text="Continuar" [disabled]="userForm.invalid">
      </app-button>
    </form>
  </div>
</div>
