.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #1F0D3F;
  border: 1px solid #BB65FF;
  padding: 3rem;
  border-radius: 25px;
  max-width: 514px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-group {
  display: flex;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

.radio-group app-radio-button {
  margin-right: 1rem;
}

@media (max-width: 480px) {
  .modal-content {
      padding: 1rem;
      width: 95%;
  }
}
