<header class="header">
  <img
    src="assets/images/ficha-de-poker 1.svg"
    alt="Planning Poker Logo"
    class="logo"
  />
  <h1 class="room-name">{{ formattedRoomName }}</h1>
  <div class="actions">
    <i
    *ngIf="isAdmin"
    class="fa fa-exchange change-voting-icon"
    (click)="showChangeVotingModal = true"
    (keydown.enter)="showChangeVotingModal">
  </i>

    <div class="user-avatar">{{ userInitials }}</div>
    <button class="invite-button" (click)="showInviteModal = true">
      <i class="fa fa-share-alt"></i>
      <span class="invite-text">Invitar jugadores</span>
    </button>
    <button (click)="logout()" class="logout-btn">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
  </div>
</header>

<app-invite-modal
  *ngIf="showInviteModal"
  (close)="showInviteModal = false">
</app-invite-modal>

<app-change-voting-modal
  *ngIf="showChangeVotingModal && isAdmin"
  [currentSystem]="currentVotingSystem"
  (close)="showChangeVotingModal = false"
  (systemChanged)="onVotingSystemChanged($event)">
</app-change-voting-modal>
