.game-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin: 1rem auto 0 auto;
}

.top-players, .bottom-players {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
  margin:1rem;

}

.middle-section {
  display: grid;
  grid-template-columns: 80px 250px 80px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin: 24px 0;
}

.left-player, .right-player {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}

.table-oval {
  width: 90%;
  height: 400px;
  border-radius: 200px;
  background: #1f0d3f62;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #6429CD;
  margin: 0 auto;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.12);
}

.table-oval::before,
.table-oval::after {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: inherit;
  border: 2px solid #6429CD;
  z-index: -1;
  box-shadow: inset 0px 0px 8px rgba(189, 189, 255, 0.3);
}

.table-oval::after {
  inset: -20px;
}

app-player-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .game-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
  }

  .middle-section {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 3rem auto;
  }

  .top-players, .bottom-players {
    gap: 10%;
  }

  .left-player, .right-player {
    flex-direction: row;
    height: auto;
    gap: initial;
    justify-content: center;
  }

  .table-oval {
    width: 100%;
    max-width: 600px;
    height: 250px;
    border-radius: 276px;
  }

  .table-oval::before {
    inset: -15px;
    border-radius: 276px;
  }

  .table-oval::after {
    inset: -30px;
    border-radius: 276px;
  }
}


@media (max-width: 400px) {
  .middle-section {
    grid-template-columns: minmax(50px, 60px) minmax(180px, 200px) minmax(50px, 60px);
    gap: 2px;
  }

  .table-oval {
    width: 80%;
    height: 400px;
    border-radius: 120px;
    margin: 0 auto;
  }

  .left-player, .right-player {
    min-height: 250px;
    gap: 12px;
  }


}

.table-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.reveal-button, .reset-button {
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  background-color: #6429CD;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.reveal-button:disabled, .reset-button:disabled {
  background-color: #45385C;
  color: #7A7585;
  cursor: not-allowed;
}
.loading-state {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: max-content;
  font-size: 12px;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: white;
}

.loading-dots {
  display: flex;
  width: 60px;
  justify-content: space-between;
  position: relative;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: inherit;
  border: 2px solid #6429CD;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.4s ease-in-out;
}

.dot:nth-child(1) { left: -20%; animation: moveDots 1s infinite ease-in-out; }
.dot:nth-child(2) { left: 0%; animation: moveDots 1s infinite ease-in-out 0.33s; }
.dot:nth-child(3) { left: 35%; animation: moveDots 1s infinite ease-in-out 0.66s; }
.dot:nth-child(4) { left: 60%; animation: moveDots 1s infinite ease-in-out 1s; }

@keyframes moveDots {
  0% { transform: translateX(0) scale(1); z-index: 1; }
  15% { transform: translateY(-6px) scale(1.1); z-index: 2; }
  35% { transform: translateX(40px) translateY(0px) scale(1); z-index: 2; }
  50% { z-index: 1; }
  100% { transform: translateX(-20); }
}

