.game-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  margin: 2rem auto 0 auto;
}

.top-players, .bottom-players {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 100%;
  flex-wrap: wrap;
}

.middle-section {
  display: grid;
  grid-template-columns: 80px minmax(400px, 1fr) 80px;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 1200px;
  position: relative;
}

.left-player, .right-player {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-oval {
  width: 100%;
  max-width: 480px;
  height: 250px;
  border-radius: 276px;
  background: #1f0d3f62;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 3rem auto;
  border: 1px solid #6429CD;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.12);
}

.table-oval::before,
.table-oval::after {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 276px;
  border: 2px solid #6429CD;
  z-index: -1;
  box-shadow: inset 0px 0px 8px rgba(189, 189, 255, 0.3);

}

.table-oval::after {
  inset: -30px;
  border: 2px solid #6429CD;
  box-shadow: inset 0px 0px 8px rgba(189, 189, 255, 0.3);

}

app-player-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .game-table {
    width: 95%;
    padding: 10px;
  }

  .middle-section {
    grid-template-columns: 60px 1fr 60px;
    gap: 10px;
    justify-items: center;
  }

  .table-oval {
    max-width: 300px;
    height: 150px;
    border-radius: 20px;
  }

  .table-oval::before {
    inset: -3px;
    border-radius: 20px;
  }

  .table-oval::after {
    inset: -6px;
    border-radius: 20px;
  }

  .left-player, .right-player {
    flex-direction: row;
    gap: 10px;
  }

  .top-players, .bottom-players {
    gap: 10px;
  }
}
