.header-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-container h2{
    color: #fff;
    font-size: 21px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
  }